$gruvbox-palette: (
  gruvbox-dark0_hard:             #1d2021, gruvbox-dark0_hard-xterm:       #1c1c1c,
  gruvbox-dark0:                  #282828, gruvbox-dark0-xterm:            #262626,
  gruvbox-dark0_soft:             #32302f, gruvbox-dark0_soft-xterm:       #303030,
  gruvbox-dark1:                  #3c3836, gruvbox-dark1-xterm:            #3a3a3a,
  gruvbox-dark2:                  #504945, gruvbox-dark2-xterm:            #4e4e4e,
  gruvbox-dark3:                  #665c54, gruvbox-dark3-xterm:            #626262,
  gruvbox-dark4:                  #7c6f64, gruvbox-dark4-xterm:            #767676,
  gruvbox-gray:                   #928374, gruvbox-gray-xterm:             #8a8a8a,
  gruvbox-light0_hard:            #ffffc8, gruvbox-light0_hard-xterm:      #ffffd7,
  gruvbox-light0:                 #fdf4c1, gruvbox-light0-xterm:           #ffffaf,
  gruvbox-light0_soft:            #f4e8ba, gruvbox-light0_soft-xterm:      #ffdfaf,
  gruvbox-light1:                 #ebdbb2, gruvbox-light1-xterm:           #ffdfaf,
  gruvbox-light2:                 #d5c4a1, gruvbox-light2-xterm:           #bcbcbc,
  gruvbox-light3:                 #bdae93, gruvbox-light3-xterm:           #a8a8a8,
  gruvbox-light4:                 #a89984, gruvbox-light4-xterm:           #949494,
  gruvbox-bright_red:             #fb4933, gruvbox-bright_red-xterm:       #d75f5f,
  gruvbox-bright_green:           #b8bb26, gruvbox-bright_green-xterm:     #afaf00,
  gruvbox-bright_yellow:          #fabd2f, gruvbox-bright_yellow-xterm:    #ffaf00,
  gruvbox-bright_blue:            #83a598, gruvbox-bright_blue-xterm:      #87afaf,
  gruvbox-bright_purple:          #d3869b, gruvbox-bright_purple-xterm:    #d787af,
  gruvbox-bright_aqua:            #8ec07c, gruvbox-bright_aqua-xterm:      #87af87,
  gruvbox-bright_orange:          #fe8019, gruvbox-bright_orange-xterm:    #ff8700,
  gruvbox-neutral_red:            #fb4934, gruvbox-neutral_red-xterm:      #d75f5f,
  gruvbox-neutral_green:          #b8bb26, gruvbox-neutral_green-xterm:    #afaf00,
  gruvbox-neutral_yellow:         #fabd2f, gruvbox-neutral_yellow-xterm:   #ffaf00,
  gruvbox-neutral_blue:           #83a598, gruvbox-neutral_blue-xterm:     #87afaf,
  gruvbox-neutral_purple:         #d3869b, gruvbox-neutral_purple-xterm:   #d787af,
  gruvbox-neutral_aqua:           #8ec07c, gruvbox-neutral_aqua-xterm:     #87af87,
  gruvbox-neutral_orange:         #fe8019, gruvbox-neutral_orange-xterm:   #ff8700,
  gruvbox-faded_red:              #9d0006, gruvbox-faded_red-xterm:        #870000,
  gruvbox-faded_green:            #79740e, gruvbox-faded_green-xterm:      #878700,
  gruvbox-faded_yellow:           #b57614, gruvbox-faded_yellow-xterm:     #af8700,
  gruvbox-faded_blue:             #076678, gruvbox-faded_blue-xterm:       #005f87,
  gruvbox-faded_purple:           #8f3f71, gruvbox-faded_purple-xterm:     #875f87,
  gruvbox-faded_aqua:             #427b58, gruvbox-faded_aqua-xterm:       #5f8787,
  gruvbox-faded_orange:           #af3a03, gruvbox-faded_orange-xterm:     #af5f00,
  gruvbox-dark_red:               #421e1e, gruvbox-dark_red-xterm:         #5f0000,
  gruvbox-dark_blue:              #2b3c44, gruvbox-dark_blue-xterm:        #000087,
  gruvbox-dark_aqua:              #36473a, gruvbox-dark_aqua-xterm:        #005f5f,
  gruvbox-delimiter-one:          #458588, gruvbox-delimiter-one-xterm:    #008787,
  gruvbox-delimiter-two:          #b16286, gruvbox-delimiter-two-xterm:    #d75f87,
  gruvbox-delimiter-three:        #8ec07c, gruvbox-delimiter-three-xterm:  #87af87,
  gruvbox-delimiter-four:         #d65d0e, gruvbox-delimiter-four-xterm:   #d75f00,
  gruvbox-white:                  #ffffff, gruvbox-white-xterm:            #ffffff,
  gruvbox-black:                  #000000, gruvbox-black-xterm:            #000000,
  gruvbox-sienna:                 #dd6f48, gruvbox-sienna-xterm:           #d7875f,
  gruvbox-darkslategray4:         #528b8b, gruvbox-darkslategray4-xterm:   #5f8787,
  gruvbox-lightblue4:             #66999d, gruvbox-lightblue4-xterm:       #5fafaf,
  gruvbox-burlywood4:             #bbaa97, gruvbox-burlywood4-xterm:       #afaf87,
  gruvbox-aquamarine4:            #83a598, gruvbox-aquamarine4-xterm:      #87af87,
  gruvbox-turquoise4:             #61acbb, gruvbox-turquoise4-xterm:       #5fafaf,
);
